---
layout: default
---
<aside>
    <nav>
        <ul>
            <li>
                <a href="#hello" title="Приветствие">&#9679;</a>
            </li>
            <li>
                <a href="#about" title="Обо мне">&#9679;</a>
            </li>
            <li>
                <a href="#skills" title="Навыки">&#9679;</a>
            </li>
            <li>
                <a href="#education" title="Образоване">&#9679;</a>
            </li>
            <li>
                <a href="#expirience" title="Опыт">&#9679;</a>
            </li>
        </ul>
    </nav>
</aside>
<section id="hello">
    <div class="avatar"></div>
    <div id="hellotext">
        <h1>Привет!</h1>
        <p>
            Меня зовут Павел Зыков. Я программист, а это мой личный
            сайт.
        </p>
    </div>
</section>
<section id="about">
    <h2>Обо мне</h2>
    <h3>Разработчик</h3>
    <p>
        Я fullstack-разработчик, живу в России в городе
        Екатеринбург. Имею большой опыт разработки высоконагруженных
        систем и интеграции различных продуктов. В последнее время я
        интересуюсь разработкой пользовательских интерфейсов и
        усиленно развиваюсь в этом направлении.
    </p>
    <h3>Руководитель</h3>
    <p>Имею опыт руководства группами разработки более двух лет. Руководил группами как проектной, так и продуктовой
        разработки. В данным момент совмещаю руководство отделом (2 команды) и одной из групп разработки из 6 человек.</p>
    <h3>Преподавательская деятельность</h3>
    <p>
        Мне нравится учить людей и рассказывать о своем опыте. Здесь я буду выкладывать материалы к своим лекциям и
        выступлениям
    </p>
    <article>
        <h4>Лекция "Многопоточность и JAVA"</h4>
        <p>
            Лекция в рамках спецкурса "Промышленная разработка на
            JAVA" для ИМКН
        </p>
        <p>
            <a href="/JavaConcurrent">[Презентация]</a>
            <a href="https://github.com/MadCrank/JavaConcurrent">[Примеры кода]</a>
        </p>
    </article>
    <article>
        <h4>Выступление "Есть ли жизнь поверх платформы и продукта?"</h4>
        <p>
            Выступление на внутренней конференции DevelCamp 2019#2 (Октябрь 2019)
        </p>
        <p>
            <a href="/DevelCamp19.10">[Презентация]</a>
            <a href="https://youtu.be/4eJ8oAmEmwc">[Видео]</a>
        </p>
    </article>
</section>
<section id="skills">
    <h2>Навыки</h2>
    <div class="chips">
        <div class="chip">Groovy</div>
        <div class="chip">Java</div>
        <div class="chip">Spring&nbsp;framework</div>
        <div class="chip">Hibernate</div>
        <div class="chip">SQL</div>
        <div class="chip">HTML5</div>
        <div class="chip">CSS3</div>
        <div class="chip">JavaScript&nbsp;(ES6)</div>
        <div class="chip">React</div>
        <div class="chip">Redux</div>
        <div class="chip">Flow</div>
        <div class="chip">Scrum</div>
        <div class="chip">Agile</div>
    </div>
</section>

<section id="education">
    <h2>Образование</h2>
    {% for education in site.educations %}
        <small>{{education.type}}</small>
        <div>
            <div>
                <time datetime="{{education.start}}">{{education.start_str}}</time>
                {% if education.start != education.end %}
                    -
                    <time datetime="{{education.end}}">{{education.end_str}}</time>
                {% endif %}
            </div>
            <article>
                <h3>
                    {{education.name}}
                </h3>
                <p>
                    {{ education.content | markdownify }}
                </p>
            </article>
        </div>
    {% endfor %}
</section>
<section id="expirience">
    <h2>Опыт</h2>
    <a
            class="hireme"
            href="/contacts.html"
            title="Предложить мне работу!"
    ></a>
    <div class="separator"></div>
    {% assign jobs = site.jobs | reverse %}
    {% for job in jobs %}
        <article class="{% cycle 'expirience-left', 'expirience-right' %}">
            <h3>{{job.company}}</h3>
            <small>
                <time datetime="{{job.start}}">{{job.start_str}}</time>
                -
                {% if job.end == null %}
                наст. время
                {% else %}
                <time datetime="{{education.end}}">{{job.end_str}}</time>
                {% endif %}
            </small>
            <h4>
                {{job.position}}
            </h4>
            <div class="chips">
                {% for skill in job.skills %}
                    <div class="chip">{{skill}}</div>
                {% endfor %}
            </div>
            <p>
                {{ job.content | markdownify }}
            </p>
        </article>
        {% assign nextJob = jobs[forloop.index] %}
        {% assign year = job.date | date: "%Y" %}
        {% assign nextYear = nextJob.date | date: "%Y" %}
        {% if year != nextYear %}
            <div class="year">{{job.date | date: "%Y"}}</div>
        {% endif %}
    {% endfor %}
</section>

