<html>
    <head>
        <link href="/css/main.css" rel="stylesheet" type="text/css" />
        <script src="/js/main.js" defer></script>
    </head>
    <body>
        <header>
            <a class="logo" href="/">
                <div class="avatar hidenAvatar"></div>
                madcrank
            </a>
            <nav>
                <ul>
                    <li><a href="/">Обо мне</a></li>
                    <li><a href="/blog.html">Блог</a></li>
                    <li><a href="/contacts.html">Контакты</a></li>
                </ul>
            </nav>
        </header>
        <main>
        